<div class="container content-text">
  <p class="after-list">Учитывая погоду этим летом в Москве — это становится особенно актуально.</p>

  <p>Немного поразмыслив с дизайнером на эту тему, мы придумали формат планировки, на которой показываем движение солнца, относительно планировки квартиры.</p>

  <p class="accent">Вот что получилось:</p>

  <div class="blog-img-wrap">
    <img src="static/img/blog/main/up1.png" alt="">
  </div>

  <p class="after-list">Не знаю как вы, а я уже представил, как пью кофе на балконе, сегодняшним утром ;-)</p>

  <p class="accent">Для полноты информации, показываем квартиру на плане жилого комплекса.</p>

  <div class="blog-img-wrap">
    <img src="static/img/blog/main/down.png" alt="">
  </div>

  <p class="after-list accent">Какая от этого выгода для компаний, которые продают недвижимость?</p>

  <p>Всё просто!</p>

  <p>Продавать квартиры с хорошими световыми характеристиками нужно и можно дороже. Главное —  это показывать и рассказывать об этом.</p>
</div>
