<div class="container content-text">

  <p class="after-list">Но есть и другая сторона, это популярность экранов с ультрабольшим размером, что привело к тому, что пользователи заходят на сайт с поистине огромных экранов.</p>

  <p class="after-list">Возьмем, для примера, популярный iMac с разрешением 27 дюймов. На этом мониторе у большинства сайтов начинаются проблемы из-за переизбытка свободного пространства.</p>

  <p class="accent">Примеры сайтов</p>

  <div class="before-list blog-img-wrap">
    <img src="static/img/blog/main/imac1.png" alt="">
  </div>

  <div class="before-list blog-img-wrap">
    <img src="static/img/blog/main/imac3.png" alt="">
  </div>

  <p class="after-list">Сразу заметно, что ни один из приведенных сайтов не оптимизирован под большой экран.</p>

  <ul class="list">
    <li>Первоначальная задумка дизайнера потеряна</li>
    <li>Текст мелкий</li>
    <li>Контент зажат в маленьком пространстве, поэтому на нем сложно сосредоточиться</li>
    <li>Из-за большого пространства все кажется слишком мелким</li>
  </ul>

  <p class="after-list">Мы у себя давно решили делать адаптивную верстку не только для мобильных телефонов, но и для больших экранов.</p>
</div>
