<div class="container content-text">
  <p class="after-list">С 2017 года в системе Яндекс Директ существует возможность активно рекламироваться: по улицам, районам, метро, торговым центрам и что очень важно — по территориям и застройки в том числе.</p>

  <p class="accent">Как это работает?</p>

  <p>На картах в Яндекс Аудиториях вы можете выбрать любую точку или конкретный адрес и задать радиус активации показов – таким образом, вы получите область, пользователям внутри, которой может показываться ваша реклама.</p>

  <div class="before-list blog-img-wrap">
    <img src="static/img/blog/main/ipad.png" alt="">
  </div>

  <ul class="list">
    <li>Очень важно активно рекламироваться в районе застройки.</li>
    <li>Так же можно рекламировать свой объект по местоположениям объектов конкурентов в похожих ценовых сегментах.</li>
    <li>Есть возможность миксовать гео с контекстоно-медийной сетью или ретаргетингом (вы показываете рекламу тем кто делал определенные поисковые запросы, например "купить кватиру" и находится в нужном вам районе).</li>
  </ul>

  <p class="after-list">P.S. Google Adwords уже давно применяет аналогичный функционал.</p>
</div>
